body{
  max-width: 90%;
  margin: 0 auto;
  /*background-color: rgb(230, 242, 255);*/
  /*background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(167, 210, 252));
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(167, 210, 252));
  */
  background-image: url("achtergrond.jpeg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
}
p {
  line-height: 1,6;
  font-family: serif;
  font-size: large;
  color: rgb(74,72,63);
  letter-spacing: 3px;
  word-spacing: normal;
  text-align: justify;
}
a{
  font-family: serif;
  color: rgb(74,72,63);
  font-size: large;
}
a:link{
  text-decoration:none;
}
a:hover{
  color: red;
  background-color: yellow;
}
a:visited{
  color: green;
}
q{
  display: block;
  max-width: 50%;
  margin: 80px auto 80px auto;
  font-size: 1.6rem;
  background-color: #f2f2f2;
  border-left: 3px solid RGB(170, 51, 17);
  padding-left: 30px;
  /*color: red;*/
  /*border: 2px solid green;*/
  font-style: italic;
}
blockquote{
  max-width: 50%;
  margin: 0 auto 0 auto;
  /*color: brown;*/
  /*border: 2px solid green;*/
}
.villagers{
  border-color: RGB(170, 51, 17);
}
.farmer{
  border-color: yellow;
}
header > h1 {
  background-color: yellow;
}
[target] {
  border:2px solid green;
}
.good, .bad {
  text-transform: capitalize;
}
.bad {
  color: red;
}
.good {
  color: green;
}
table{
  caption-side: bottom;
}
tr:nth-child(even) {background: #CCC;}
tr:nth-child(odd) {background: #FFF;}
/*ul {
  border: 2px solid green;
}*/
li.firstitem {
  /*border: 1px solid red;*/
  background-image: url(bien.png);
  background-repeat: no-repeat;
  background-position: top 0% right 50%;
  background-size: contain;
  /*padding-right: 50px;*/
  /*list-style: square outside none;*/
  /*list-style-image: url(bien.png);*/
}
li.seconditem {
  background-image: url(mal.png);
  background-repeat: no-repeat;
  background-position: top 0% right 50%;
  background-size: contain;
}
li.thirditem {
  background-image: url(chat.png);
  background-repeat: no-repeat;
  background-position: top 0% right 50%;
  background-size: contain;
}
p.first {
  font-weight: bold;
  /*color: red;*/
  /*border: 2px solid green;*/
}
img {
  margin: 10px 100px 10px 10px;
  width: 100px;
  height: 100px;
  float: left;
}
body {
  font-family: 'Open Sans', sans-serif;
}
